replicaCount: 3
image:
  tag: "1.26.0"
service:
  type: LoadBalancer
  port: 80
resources:
  limits:
    cpu: 300m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
ingress:
  enabled: true
  hostname: my-nginx.local
